<html>
<head>
    <title>Weather API</title>
</head>
<body>

<h1>Weather API Query Form</h1>

<form name="form1" id="form1" action="/action_page.php">
    States: <select name="state" id="state">
    <option value="" selected="selected">Select state</option>
</select>
    <br><br>
    Topics: <select name="topic" id="topic">
    <option value="" selected="selected">Please select subject first</option>
</select>
    <br><br>
    Chapters: <select name="chapter" id="chapter">
    <option value="" selected="selected">Please select topic first</option>
</select>
    <br><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>